#inputNames {
}
html {
  font-family: "Roboto Mono", monospace;
}

#inputNames form,
#inputNames input {
  display: none;
}

#person {
  width: 50%;
  position: absolute;
  left: 3%;
}

#infoContainer {
  margin-left: 54%;
}
#infoContainer h1 {
  margin-bottom: 0;
  margin-top: 5px;
}
